.stay-details {
    gap: 10px;

    .stay-name {
        padding-top: 20px;
    }

    .start-info {
        color: $clr2;
        font-size: rem(14px);
        font-weight: bold;

        .start-icon {
            width: 14px;
            padding-right: 5px;
        }
    }

    .stay-gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;

        & img:nth-child(3) {
            border-radius: 0 15px 0 0;
        }

        & img:nth-child(5) {
            border-radius: 0 0 15px 0;
        }
    }

    .main-img {
        display: grid;
        grid-column: 1/3;
        grid-row: 1/3;
        border-radius: 15px 0 0 15px;
    }

    .stay-info-container {
        box-shadow: inset 0 -0.7px 0 0 $clr5;
    }

    .host-info {
        box-shadow: inset 0 -0.7px 0 0 $clr5;
        padding: 40px 0;
    }

    .host-img {
        border-radius: 50%;
        height: 56px;
        object-fit: cover;
        width: 56px;
    }

    .main-amenities {
        box-shadow: inset 0 -0.7px 0 0 $clr5;
        padding: 40px 0;
        gap: 15px;

        .main-amenity-info {
            padding-left: 30px;
        }

        .amenity-icon {
            width: 26px;
        }
    }

    .stay-summary {
        box-shadow: inset 0 -0.7px 0 0 $clr5;
        padding: 40px 0;
        line-height: 1.5;
    }

    .amenities {
        padding: 40px 0;

        .amenities-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }

        .amenities-list-header {
            padding-bottom: 15px;
        }

        .amenity-icon {
            width: 26px;
        }

        .amenity-name {
            padding-left: 20px;
        }
    }

    .dot {
        font-size: 2rem;
        margin: 0 5px;
    }

    .order-display {
        flex-basis: 200%;
        display: flex;
        justify-content: end;
        padding: 40px 0;
    }

    .order-container {
        border: 2px solid black;
        width: 350px;
        height: 350px;
        position: sticky;
        top: 20px;
        margin-inline-start: 50px;

        .order-icon {
            width: 14px;
        }
    }

    .order-header {
        align-items: center;
        justify-content: space-between;
    }

    .reviews-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-gap: 40px 1px;
        gap: 40px;
        padding-bottom: 40px;

        .review {
            gap: 20px;
        }

        .review-user-info {
            gap: 10px;
        }

        .review-date {
            color: $clr4;
        }
    }

    .user-img {
        border-radius: 50%;
        height: 56px;
        object-fit: cover;
        width: 56px;
    }

    .dot:after {
        content: " \2219 ";
    }
}