.stay-details {
    gap: 10px;

    .stay-name {
        padding-top: 20px;
    }

    .start-info {
        color: $clr2;
        font-size: rem(14px);
        font-weight: bold;

        .start-icon {
            width: 12px;
            height: 12px;
            margin-right: 7px;
        }
    }

    .stay-info-container {
        box-shadow: inset 0 -0.7px 0 0 $clr5;
        display: grid;
        grid-template-columns: 4fr 3fr;
    }

    .host-info {
        box-shadow: inset 0 -0.7px 0 0 $clr5;
        padding: 40px 0;
    }

    .host-img {
        border-radius: 50%;
        height: 56px;
        object-fit: cover;
        width: 56px;
    }

    .stay-summary {
        box-shadow: inset 0 -0.7px 0 0 $clr5;
        padding: 40px 0;
        line-height: 1.5;
    }

    .dot {
        font-size: 1.5rem;
        margin: 0 5px;
    }

    .add-review-container {

        padding-top: 30px;
        padding-bottom: 40px;
        box-shadow: inset 0 -0.7px 0 0 $clr5;

        .add-title {
            padding-bottom: 20px;
        }

        textarea {
            width: 100%;
            border: 1px solid $clr9;
            resize: none;

            &::placeholder {
                font-size: 18px;
            }

            &:focus {
                outline: 1px solid $clr2;
            }
        }
    }

    .user-img {
        border-radius: 50%;
        height: 56px;
        object-fit: cover;
        width: 56px;
    }

    .dot:after {
        content: " \2219 ";
    }

    .map {
        h2 {
            padding: 44px 0 30px 0;
        }
    }

}