.main-layout {
    display: grid;
    grid-template-columns: 80px 1fr 80px;

    .app-header {
        grid-column: 2;
    }

    >*:not(.app-header) {
        grid-column: 1/ -1;
    }

    >*.full {
        grid-column: 1 / -1;
    }

}

.stay-layout {
    display: grid;
    grid-template-columns: 80px 1fr 80px;

    .app-header {
        grid-column: 2;
    }

    >*:not(.app-header) {
        grid-column: 2;
    }

    >*.full {
        grid-column: 1 / -1;
    }
}

.details-layout {
    display: grid;
    grid-template-columns: 350px 1fr 350px;

    >* {
        grid-column: 2;
    }
}