@font-face {
    font-family: Circular-Regular;
    src: url(../../assets/fonts/Circular/Circular-Book.otf)
}

@font-face {
    font-family: Circular-Bold;
    src: url(../../assets/fonts/Circular/Circular-Bold.otf)
}

@font-face {
    font-family: Circular-Light;
    src: url(../../assets/fonts/Circular/CircularStd-Light.otf)
}

@font-face {
    font-family: DancingScript-Regular;
    src: url(../../assets/fonts/DancingScript/DancingScript-Regular.ttf)
}