//STYLE VARS

:root {
    --padding: 80px;
    --overflow: unset;
    --right: 4%;
}

//COLOR PATTERNS
$clr1: #FF385C;
$clr2: #717171;
$clr3: #222222;
$clr3-opacity: #222222da;
$clr3-opacity-2: #2222226c;
$clr4: #484848;
$clr5: #dddddd;
$clr6: #ebebeb;
$clr6-opacity: #ebebeb57;
$clr7: #f7f7f7;
$clr8: #ffffff;
$clr9: #DDDDDD;
$clr11: #B0B0B0;
$clr10: #71719F;

//BUTTON

$btnBorderRadius: 10px;
