//STYLE VARS

:root {
    --padding: 80px;
    --position: sticky;
    --grid-column: 2;
    --border-style: solid;
    --border-width: 1px;
    --border-color: #DDDDDD;
    --right: 5%;
}

//COLOR PATTERNS
$clr1: #FF385C;
$clr2: #717171;
$clr3: #222222;
$clr3-opacity: #222222da;
$clr4: #484848;
$clr5: #dddddd;
$clr6: #ebebeb;
$clr6-opacity: #ebebeb57;
$clr7: #f7f7f7;
$clr8: #ffffff;
$clr9: #DDDDDD;
$clr11: #B0B0B0;
$clr10: #71719F;


//LAYOUT

// $mainLayoutPadding: 80px;
// $mainLayoutRows: 80px;
$detailsLayoutPadding: 400px;

//BUTTON

$btnBorderRadius: 10px;