//COLOR PATTERNS
$clr1: #FF385C;
$clr2: #717171;
$clr3: #222222;
$clr4: #484848;
$clr5: #dddddd;
$clr6: #ebebeb;
$clr7: #f7f7f7;
$clr8: #ffffff;
$clr9: #DDDDDD;
$clr10:#BB8771;
$clr11:#B0B0B0;

//LAYOUT

$mainLayoutPadding: 80px;
$mainLayoutRows: 80px;
$detailsLayoutPadding: 115px;