.add-review-container {
    padding-top: 20px;
    padding-bottom: 40px;
    box-shadow: inset 0 -0.7px 0 0 $clr5;

    .add-title {
        padding-bottom: 20px;
    }

    .txt-container {
        width: 100%;
        border: 2px solid $clr9;
        border-radius: rem(15px);
        gap: 5px;
        margin-bottom: 20px;
        padding: 15px;

        textarea {
            border: unset;
            resize: none;
            width: 100%;
            font-size: rem(16px);

            &::placeholder {
                font-size: 16px;
                font-family: Circular-Light;
            }

            &:focus {
                outline: none;
            }

        }
    }

    .add-review-ratings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-top: 20px;
        gap: 10px;
        margin-bottom: 30px;

        >* {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 110px;
        }

        .css-dqr9h-MuiRating-label {
            color: $clr1;
        }
    }
}