.app-footer {
    height: 60px;
    margin-top: 24px;
    position: relative;
    bottom: 0;
    font-size: 14px;
    border-top: 1px solid $clr9;
    width: 100%;
    display: none;

    :first-child {

        >*:not(:last-child) {
            margin-right: 9px;
        }
    }

    .txt-container {
        width: 100%;
        padding: 0 var(--padding);
    }

    .footer-icon {
        width: 16px;
        height: 16px;
        margin-right: 7px;
    }

    .footer-info {
        font-weight: 600;

        :first-child {
            margin-right: 8px;
        }

        >*:not(:first-child) {
            margin-right: 24px;
        }
    }

    .dot {
        font-size: rem(14px);

        &:after {
            content: " \2219 ";
        }
    }

    .social {

        >*:not(:last-child) {
            margin-right: 24px;
        }
    }
}

@media (min-width: 640px) {
    .app-footer {
        display: flex;
    }
}