.details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $clr5;
    background-color: transparent;
    padding: 0 350px;
    height: 80px;
    position: block;
    width: 100%;
    color: $clr3;
    z-index: 20;
    top: 0;

    >* {
        flex: 1;
    }

    .main-nav-container {
        justify-content: flex-end;
        white-space: nowrap;


        .main-nav {
            margin-inline-end: 10px;

            a {
                align-items: center;
                border-radius: 25px;
                display: flex;
                height: 40px;
                padding: 15px;
                font-weight: 600;
                font-size: rem(14px);
            }

            a:hover {
                background-color: $clr6-opacity
            }
        }
    }

    .logo {
        color: $clr1;
        font-size: rem(30px);
        font-weight: bold;
        font-family: DancingScript-Regular;
        cursor: pointer;
    }

    .user-menu {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: space-between;
        padding-inline-start: 15px;
        position: relative;
        width: 80px;
        border-radius: 25px;
        border: 1px solid $clr6;
        background: $clr8;

        &:hover {
            box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
        }

        img:nth-child(1) {
            width: 16px;
            height: 16px;
        }

        img:nth-child(2) {
            width: 30px;
            height: 30px;
        }
    }

    .curr-user-img {
        border-radius: 15px;
    }
}

.stay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $clr5;
    background-color: transparent;
    padding: 0 80px;
    height: 80px;
    position: block;
    width: 100%;
    color: $clr3;
    z-index: 20;
    top: 0;

    >* {
        flex: 1;
    }

    .main-nav-container {
        justify-content: flex-end;
        white-space: nowrap;


        .main-nav {
            margin-inline-end: 10px;

            a {
                align-items: center;
                border-radius: 25px;
                display: flex;
                height: 40px;
                padding: 15px;
                font-weight: 600;
                font-size: rem(14px);
            }

            a:hover {
                background-color: $clr6-opacity
            }
        }
    }

    .logo {
        color: $clr1;
        font-size: rem(30px);
        font-weight: bold;
        font-family: DancingScript-Regular;
        cursor: pointer;
    }

    .user-menu {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: space-between;
        padding-inline-start: 15px;
        position: relative;
        width: 80px;
        border-radius: 25px;
        border: 1px solid $clr6;
        background: $clr8;

        &:hover {
            box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
        }

        img:nth-child(1) {
            width: 16px;
            height: 16px;
        }

        img:nth-child(2) {
            width: 30px;
            height: 30px;
        }
    }

    .curr-user-img {
        border-radius: 15px;
    }
}

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px $clr5 none;
    background-color: transparent;
    padding: 0 80px;
    // height: 80px;
    height: 180px;
    position: fixed;
    width: 100%;
    color: $clr7;
    z-index: 20;
    top: 0;

    >* {
        flex: 1;
    }

    .main-nav-container {
        justify-content: flex-end;
        white-space: nowrap;
        margin-bottom: 120px;

        .main-nav {
            margin-inline-end: 10px;

            a {
                align-items: center;
                border-radius: 25px;
                display: flex;
                height: 40px;
                padding: 15px;
                font-weight: 600;
                font-size: rem(14px);
            }

            a:hover {
                background-color: $clr6-opacity
            }
        }
    }

    .logo {
        color: $clr7;
        font-size: rem(30px);
        font-weight: bold;
        font-family: DancingScript-Regular;
        margin-bottom: 120px;
        cursor: pointer;
    }

    .user-menu {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: space-between;
        padding-inline-start: 15px;
        position: relative;
        width: 80px;
        border-radius: 25px;
        border: 1px solid $clr6;
        background: $clr8;

        &:hover {
            box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
        }

        img:nth-child(1) {
            width: 16px;
            height: 16px;
        }

        img:nth-child(2) {
            width: 30px;
            height: 30px;
        }
    }

    .curr-user-img {
        border-radius: 15px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $clr5;
    background-color: transparent;
    padding: 0 80px;
    height: 80px;
    position: block;
    width: 100%;
    color: $clr3;
    z-index: 20;
    top: 0;

    >* {
        flex: 1;
    }

    .main-nav-container {
        justify-content: flex-end;
        white-space: nowrap;


        .main-nav {
            margin-inline-end: 10px;

            a {
                align-items: center;
                border-radius: 25px;
                display: flex;
                height: 40px;
                padding: 15px;
                font-weight: 600;
                font-size: rem(14px);
            }

            a:hover {
                background-color: $clr6-opacity
            }
        }
    }

    .logo {
        color: $clr1;
        font-size: rem(30px);
        font-weight: bold;
        font-family: DancingScript-Regular;
        cursor: pointer;
    }

    .user-menu {
        align-items: center;
        display: flex;
        height: 40px;
        justify-content: space-between;
        padding-inline-start: 15px;
        position: relative;
        width: 80px;
        border-radius: 25px;
        border: 1px solid $clr6;
        background: $clr8;

        &:hover {
            box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
        }

        img:nth-child(1) {
            width: 16px;
            height: 16px;
        }

        img:nth-child(2) {
            width: 30px;
            height: 30px;
        }
    }

    .curr-user-img {
        border-radius: 15px;
    }
}

.scrolled {
    height: 80px;
    background-color: $clr8;
    color: $clr3;
    box-shadow: 0 1px 12px rgba(0, 0, 0, .08);

    .logo {
        color: $clr1;
        margin-bottom: 0 
    }

    .main-nav-container {
        margin-bottom: 0;
    }
}