.order-display {
    flex-basis: 200%;
    display: flex;
    justify-content: end;
    padding: 40px 0;
}

.order-container {
    width: 350px;
    height: 480px;
    position: sticky;
    top: 3%;
    margin-inline-start: 50px;
    border: 1px solid #00000030;
    border-radius: 13px;
    box-shadow: 0 0 5px 5px #00000015;
    padding: 20px;
    transition: .5s;
    z-index: 1;
    gap: 20px;

    .order-header {
        align-items: center;
        justify-content: space-between;

        :nth-child(2) {
            font-size: rem(14px);
            font-weight: 600;
            padding-left: 4px;

            span:nth-child(2) {
                text-decoration: underline;
            }
        }

        .dot {
            font-size: 1.2rem;
            margin: 0 3px;
        }

    }

    .guest-input {
        border-top: 1px solid $clr11;
        cursor: pointer;
        padding: 12px;

        .guests-label {
            font-size: rem(10px);
        }
    }

    .guests-modal {
        display: flex;
        position: absolute;
        line-height: 25px;
        bottom: 55px;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
        z-index: 2000;
        padding: 20px;
        gap: 20px;
        transition: 4s;
        cursor: default;

        .guest-amount {
            position: relative;
        }

        .guest-count {
            width: 85px;
            justify-content: space-between;
        }
    }

    .open-guests-btn {
        :nth-child(1) {
            font-size: rem(16px);
        }
    }

    .reserve-btn {
        height: 48px;
        width: 100%;
        background: linear-gradient(90deg, #f1254b 0, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
        border-radius: 8px;
        font-size: rem(16px);
        color: $clr8;
        font-weight: bold;
    }

    .order-icon {
        width: 12px;
    }

    .order-price {
        font-weight: bold;
        color: $clr3;
        font-size: rem(22px);
    }

    .order-form {
        gap: 20px;

        .order-inputs {
            border: 1px solid $clr11;
            border-radius: 13px;

            .dates-container {
                // padding: 10px;

                // input::-webkit-datetime-edit,
                // input::-webkit-inner-spin-button,
                // input::-webkit-clear-button {
                //     display: none;
                // }

                .check-date {
                    border: none;
                }

                label {
                    font-size: rem(10px);
                    padding: 15px 12px 10px;
                    flex-basis: 50%;

                    &:last-child {
                        border-left: 1px solid $clr11
                    }
                }

            }
        }
    }

    .order-summary-header {
        font-size: rem(14px);
    }

    .order-summary {
        gap: 10px;

        >*:not(:last-child) {

            span:not(:last-child) {
                text-decoration: underline;
            }

        }
    }

    .total-sum {
        border-top: 1px solid $clr9;
        padding-top: 10px;
        font-weight: bold;
    }

    .plus-minus-icon {
        width: 25px;
    }

    .guest-type {
        width: 100%;

        .guest-detail {

            .type {
                font-weight: bold;
            }

            .type-exact {
                font-size: rem(14px);
            }
        }
    }

}