.order-display {
    flex-basis: 200%;
    display: flex;
    justify-content: end;
    padding: 40px 0;
}

.order-container {
    width: 350px;
    height: 490px;
    position: sticky;
    top: 3%;
    margin-inline-start: 50px;
    border: 1px solid #00000030;
    border-radius: 13px;
    // box-shadow: 0 0 5px 5px #00000015;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;


    padding: 20px;
    transition: .5s;
    z-index: 1;
    gap: 20px;

    .order-header {
        align-items: center;
        justify-content: space-between;

        :nth-child(2) {
            font-size: rem(14px);
            font-weight: 600;

            span:nth-child(2) {
                text-decoration: underline;
                color: $clr2;
            }
        }

        .dot {
            font-size: 1.2rem;
            margin: 0;
        }

    }

    .guest-input {
        border-top: 1px solid $clr11;
        cursor: pointer;
        padding: 12px;

        .guests-label {
            font-size: rem(10px);
        }

    }

    .guests-modal {
        display: flex;
        position: absolute;
        line-height: 25px;
        bottom: 55px;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
        z-index: 40;
        padding: 20px;
        gap: 20px;
        transition: 4s;
        cursor: default;

        .guest-amount {
            position: relative;
        }

        .guest-count {
            width: 85px;
            justify-content: space-between;
        }
    }

    .open-guests-btn {
        :nth-child(1) {
            font-size: rem(14px);
        }
    }

    .reserve-btn {
        height: 48px;
        width: 100%;
        background: linear-gradient(90deg, #f1254b 0, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
        border-radius: 8px;
        font-size: rem(16px);
        color: $clr8;
        font-weight: bold;
    }

    .order-icon {
        width: 16px;
        padding-right: 5px;
    }

    .order-price {
        font-weight: bold;
        color: $clr3;
        font-size: rem(22px);
    }

    .order-form {
        gap: 20px;

        .order-inputs {
            border: 1px solid $clr11;
            border-radius: 13px;

            .dates-container {

                .check-date {
                    border: none;
                    font-family: Circular-Light;
                    font-size: rem(14px);
                    color: $clr3;
                    cursor: pointer;
                    outline: none;

                    &::-webkit-calendar-picker-indicator {
                        background: transparent;
                        bottom: 0;
                        color: transparent;
                        left: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: auto;
                        height: 500px;
                        z-index: 20;
                    }

                    &::-webkit-calendar-picker-indicator {
                        display: none;
                    }
                }

                label {
                    font-size: rem(10px);
                    padding: 15px 12px 10px;
                    flex-basis: 50%;

                    span {
                        color: $clr3;
                        font-weight: bold;
                        font-family: Circular-Light;
                    }

                    &:last-child {
                        border-left: 1px solid $clr11
                    }
                }

            }
        }
    }

    .order-summary-header {
        font-size: rem(14px);
    }

    .order-summary {
        gap: 10px;

        >*:not(:last-child) {

            span:not(:last-child) {
                text-decoration: underline;
            }

        }

        :nth-child(3) {
            padding-bottom: 10px;
        }
    }

    .total-sum {
        border-top: 1px solid $clr9;
        padding-top: 20px;
        font-weight: bold;
    }

    .plus-minus-icon {
        width: 25px;
    }

    .guest-type {
        width: 100%;

        .guest-detail {

            .type {
                font-weight: bold;
            }

            .type-exact {
                font-size: rem(14px);
            }
        }
    }

    .mouse-cursor-gradient-tracking {
        position: relative;
        outline: none;
        overflow: hidden;
        height: 48px;
        width: 100%;
        background: linear-gradient(90deg, #f1254b 0, #e61e4d 27.5%, #e31c5f 40%, #d70466 57.5%, #bd1e59 75%, #bd1e59 100%);
        border-radius: 8px;
        font-size: rem(16px);
        color: $clr8;
        font-weight: bold;
    }

    .mouse-cursor-gradient-tracking span {
        position: relative;
    }

    .mouse-cursor-gradient-tracking:before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, #e64462, transparent);
        transform: translate(-50%, -50%);
        transition: width 0.2s ease, height 0.2s ease;
    }

    .mouse-cursor-gradient-tracking:hover:before {
        --size: 200px;
    }

    .rdrCalendarWrapper {
        position: absolute;
        z-index: 50;
        width: 100%;
    }

}

.rdrDayToday .rdrDayNumber span:after {
    background: transparent;
}