.hosting-preview {

    .star-icon {
        height: 15px;
        width: 15px;
    }

    .stay-host-img {
        border-radius: 50%;
        height: 50px;
        object-fit: cover;
        width: 50px;
    }
}