.search-guests-modal {
    border: solid 1px $clr9;

    display: flex;
    position: absolute;
    line-height: 25px;
    top: 63px;

    // right: 25px;
    right: 5%;
    transform: translateX(50%);
    background-color: $clr8;
    color: $clr3;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
    z-index: 2000;
    padding: 20px 20px;

    transition: 4s;
    cursor: default;


    .guest-type {
        display: flex;
        gap: 77px;
        border-bottom: solid 1px $clr9;
        padding: rem(15px);
        white-space: nowrap;


        .title {
            font-size: rem(16px);
            font-weight: bold;
        }

        .type-exact {
            font-size: rem(14px);
            color: $clr2;
        }

        &:last-child{
            border: none;
        }

    }


    .guest-amount {
        position: relative;
    }

    .guest-count {
        width: 85px;
        justify-content: space-between;
        gap:5px;

    }

}