.stay-preview {
    // border: solid 1px $clr9;
    gap: 1rem;


    .img-container {
        // border: solid 1px $clr9;
        min-width: 275px;
        min-height: 260px;
        border-radius: 15px;
        margin-bottom: 5px;
        position: relative;

        img {
            aspect-ratio: 1 / 1;
            border-radius: 15px;
        }

        .icon-heart {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 23px;
            height: 23px;
            z-index: 5;
        }
    }

    .txt-container {
        color: $clr2;
        gap: 5px;
        font-size: rem(15px);
    }

    .bold {
        color: $clr3;
        font-weight: 600;
    }

    .light {
<<<<<<< HEAD
        font-weight: 400;
=======
        color: $clr2;
        font-weight: normal;
>>>>>>> 30f3f5b77aa4991489d1d196e55787dbe08056c8
    }

    .icon {
        width: rem(12px);
    }

}