.user-menu-modal {
    background-color: #fff;
    border-radius: 20px;
    // box-shadow: 3px 2px 3px #ebebeb;
    height: 210px;
    overflow: hidden;
    position: absolute;
    right: var(--right);
    top: 8.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: .3s;
    width: 180px;
    z-index: 50;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;


    ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        list-style: none;

        :nth-child(1) {
            font-weight: 600;
        }

        :nth-child(2) {
            font-weight: 600;
        }
    }

    li {
        padding-left: 15px;
        font-size: rem(14px);
        cursor: pointer;
        // height: 50px;
        // height: 25%;
        // width: 100%;
        // padding-top: 20px;

        &:hover {
            // background-color: $clr6-opacity;
        }
    }

    .menu-limit {
        box-shadow: inset 0 -0.7px 0 0 $clr5;
        padding-bottom: 20px;
    }

}